/* CSS for the website header and sections */

h1 {
    font-family: 'header', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 5.5em;
}

h2 {
    font-family: 'header', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 2.5em;
}

h3 {
    font-family: 'header', sans-serif;
    color: rgb(255, 255, 255);
}

/* Block styles */
.block-with-bg-img-1 {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('image/muziumnegara.jpg'); /* add the linear gradient on top of the image */
    background-size: cover; /* scale the image to cover the entire block */
    background-position: center; /* center the image within the block */
    height: 800px; /* set the height of the block */
    position: relative; /* allows the text overlay to be positioned absolutely */
}

.block-with-bg-img-2 {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('image/artifak.jpg'); /* add the linear gradient on top of the image */
    background-size: cover; /* scale the image to cover the entire block */
    background-position: center; /* center the image within the block */
    height: 800px; /* set the height of the block */
    position: relative; /* allows the text overlay to be positioned absolutely */
}

.block-with-bg-img-3 {
    background-color: rgb(34, 34, 34); /* add the linear gradient on top of the image */
    background-size: cover; /* scale the image to cover the entire block */
    background-position: center; /* center the image within the block */
    height: 600px; /* set the height of the block */
    position: relative; /* allows the text overlay to be positioned absolutely */
}

.text-overlay {
    position: absolute; /* position the overlay on top of the background image */
    top: 50%; /* center the overlay vertically */
    left: 50%; /* center the overlay horizontally */
    transform: translate(-50%, -50%); /* move the overlay up and left by 50% to center it */
    color: #fff; /* text color */
    text-shadow: 2px 10px 5px #333;
    text-align: center; /* center the text within the overlay */
    padding: 20px;
}

.cta-btn {
    display: inline-block;
    color: #fff; /* button text color */
    background-color: #000; /* button background color */
    padding: 10px 20px; /* button padding */
    border-radius: 5px; /* button border radius */
    text-decoration: none; /* remove underline from link */
    margin-top: 20px; /* add margin above the button */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container2 {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;
}

.block {
    width: 25%;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.block:hover {
    transform: scale(1.1);
  }

.block img {
    width: 100%;
    height: 50%;
    display: flex;
}

.block h4{
    color: rgb(59, 59, 59);
    margin: 20px;
    text-align: center;
    font-size: 1.5em;
}

.block p{
    color: rgb(59, 59, 59);
    margin: 10px;
    text-align: center;
    font-size: 1em;
}

.block-btn{
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-top: 20px;
}

/* Add CSS to change color of the button based on which page it shows */

/* Section styles */
section {
    padding: 10px;
}


section p{
    color: rgb(255, 255, 255);
    font-size: 2em;
    text-align: justify;
    text-justify: inter-word;
}

section h2 {
    font-family: 'header', sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 2px 10px 5px #333;
    font-size: 4em;
    text-align: left;
    margin-top: 170px;
    
}

#home {
    background-color: #f0f0f0;
}

.cell {
    width: 33%;
    color: #fff;
    padding: 50px;
}

.btn {
    border: 1px solid white;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    margin-top: 20px;
}

  
